body {
  font-family: 'Segoe UI', 'Arial', sans-serif;
  background: #f5f8ff;
  margin: 0;
}
a {
  color: #144799;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
::-webkit-scrollbar {
  width: 10px;
  background: #e6edfa;
}
::-webkit-scrollbar-thumb {
  background: #a2caff;
  border-radius: 10px;
}